@media only screen and (max-width: 768px) {
    #full-name,
    #brief-title,
    #urls {
        text-align: center;
    }
}

.jumbotron-custom {
    margin-top: 2rem;
    border-radius: 10px;
}

.section {
    border: 1px solid #e9ecef;
    border-radius: 10px;
    padding: 16px;
    margin: 8px 0;
}

.section ul li{
    margin: 8px 0px;
}

.footer {
    text-align: center;
    color: #e9ecef;
    padding: 20px;
}

#userphoto {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.form-message{
    display: none;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-button {
    margin-right: 5px;
    margin-bottom: 5px;
}

#form-success {
    color: green;
}

#form-fail {
    color: red;
}

.visible{
    display: block!important;
}